<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.snack.web.dao.customer.CustomerDao">

	<!-- 查询 开始 -->
	<sql id="whereCondition">
		select
			a.`id`,
			a.`customer_name` customerName,
			a.`customer_tel` customerTel,
			a.`customer_level` customerLevel,
			case when a.`customer_level`=1 then '省级代理'
			     when a.`customer_level`=2 then '市级代理'
			     when a.`customer_level`=3 then '特约代理'
			     when a.`customer_level`=4 then '终端代理'
			     when a.`customer_level`=5 then '普通客户'
			     else '其他'
			end customerLevelName,
			a.`address`,
			a.`modify_time` modifyTime,
			a.`create_time` createTime,
			ifnull(b.cnt,0) totalOrder,
			ifnull(b.really_pay,0) totalCost
		from t_snack_customer_info a
		left join(
			select
				customer_id,
				count(1) cnt,
				sum(really_pay) really_pay
			from t_snack_sale_info
			group by customer_id
		)b
			on a.id=b.customer_id
		where 1=1
		<if test="id != null">
			and a.`id` = #{id,jdbcType=DECIMAL}
		</if>
		<if test="customerName != null">
			and a.`customer_name` like concat('%',#{customerName,jdbcType=VARCHAR},'%')
		</if>
    </sql>
    
	<select id="queryByName" parameterType="java.lang.String"
		resultType="com.shop.snack.web.model.CustomerInfo">
		select
			a.`id`,
			a.`customer_name` customerName,
			a.`customer_level` customerLevel,
			a.`customer_tel` customerTel,
			case when a.`customer_level`=1 then '省级代理'
			     when a.`customer_level`=2 then '市级代理'
			     when a.`customer_level`=3 then '特约代理'
			     when a.`customer_level`=4 then '终端代理'
			     when a.`customer_level`=5 then '普通客户'
			     else '其他'
			end customerLevelName,
			a.`address`,
			a.`modify_time` modifyTime,
			a.`create_time` createTime
		from t_snack_customer_info a
		where 1=1
		<if test="customerName != null">
			and a.`customer_name` = #{customerName,jdbcType=VARCHAR}
		</if>
	</select>
	
    <select id="queryForCount" parameterType="map" resultType="java.lang.Integer">
		select count(b.id)
  			from (<include refid="whereCondition"/> ) b
	</select>

 <select id="queryForList" parameterType="map" resultType="com.shop.snack.web.model.CustomerInfo">
   <![CDATA[
	   select a.*
		          from (
	 ]]>
		<include refid="whereCondition"/>	         
    <![CDATA[
		   ) a
		   order by totalOrder desc
		   limit #{lbound},#{pageSize} 
	]]>
   </select>

   <select id="queryById" parameterType="map" resultType="com.shop.snack.web.model.CustomerInfo">
		select
			a.`id`,
			a.`customer_name` customerName,
			a.`customer_level` customerLevel,
			a.`customer_tel` customerTel,
			case when a.`customer_level`=1 then '省级代理'
			     when a.`customer_level`=2 then '市级代理'
			     when a.`customer_level`=3 then '特约代理'
			     when a.`customer_level`=4 then '终端代理'
			     when a.`customer_level`=5 then '普通客户'
			     else '其他'
			end customerLevelName,
			a.`address`,
			a.`modify_time` modifyTime,
			a.`create_time` createTime
		from t_snack_customer_info a
		where 1=1
		<if test="id != null">
			and a.`id` = #{id,jdbcType=VARCHAR}
		</if>
   </select>

   <insert id="addOne">
   		insert into t_snack_customer_info (
			`customer_name`,
			`customer_tel`,
			`customer_level`,
			`address`,
			`modify_time`,
			`create_time`
   		) 
   		values(
			#{customerInfo.customerName,jdbcType=VARCHAR},
			#{customerInfo.customerTel,jdbcType=VARCHAR},
			#{customerInfo.customerLevel,jdbcType=VARCHAR},
			#{customerInfo.address,jdbcType=VARCHAR},
			#{customerInfo.modifyTime,jdbcType=VARCHAR},
			#{customerInfo.createTime,jdbcType=VARCHAR}
   		)
   </insert>
   
   <update id="updOne">
   		update t_snack_customer_info
   		set `customer_name`=#{customerInfo.customerName,jdbcType=VARCHAR},
   		    `customer_tel`=#{customerInfo.customerTel,jdbcType=VARCHAR},
   		    `customer_level`=#{customerInfo.customerLevel,jdbcType=VARCHAR},
			`address`=#{customerInfo.address,jdbcType=VARCHAR},
			`modify_time`=#{customerInfo.modifyTime,jdbcType=VARCHAR}
   		where id = #{customerInfo.id,jdbcType=DECIMAL}
   </update>
 
   <!-- 物理删除用户 -->
   <update id="deleteOne" parameterType="map">
   		delete from  t_snack_customer_info
   		where `id` = #{id,jdbcType=DECIMAL}
   </update>
   
	<select id="searchCustomersByName" parameterType="map" resultType="com.shop.snack.web.model.CustomerInfo">
		select
			a.`id`,
			a.`customer_name` customerName,
			a.`customer_tel` customerTel,
			a.`customer_level` customerLevel,
			case when a.`customer_level`=1 then '省级代理'
			     when a.`customer_level`=2 then '市级代理'
			     when a.`customer_level`=3 then '特约代理'
			     when a.`customer_level`=4 then '终端代理'
			     when a.`customer_level`=5 then '普通客户'
			     else '其他'
			end customerLevelName,
			a.`address`,
			a.`modify_time` modifyTime,
			a.`create_time` createTime
		from t_snack_customer_info a
		where 1=1
			<if test="customerName != null">
				and a.`customer_name` like concat('%',#{customerName,jdbcType=VARCHAR},'%')
			</if>
		limit 0,10
	</select>
   
</mapper>