<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.snack.web.dao.record.ProductDao">

	<!-- 产品管理 开始 -->
	<sql id="whereCondition">
		select
			a.`id`,
			a.`name`,
			a.`describe`,
			a.`type_id` typeId,
			b.`type_name` typeName,
			a.`state`,
			a.`agent1_price` agent1Price,
			a.`agent2_price` agent2Price,
			a.`agent3_price` agent3Price,
			a.`agent4_price` agent4Price,
			a.`agent1_num` agent1Num,
			a.`agent2_num` agent2Num,
			a.`agent3_num` agent3Num,
			a.`agent4_num` agent4Num,
			a.`sale_price` salePrice,
			a.`grammage` grammage,
			a.`expiration` expiration,
			a.`brand`,
			a.`place`,
			a.`taste`,
			a.`nums`,
			a.`acc_nums` accNums,
			a.`modify_time` modifyTime,
			a.`create_time` createTime
		from t_snack_product a,t_snack_product_classify b
		where a.type_id=b.type_id
		<if test="id != null">
			and a.`id` = #{id,jdbcType=DECIMAL}
		</if>
		<if test="name != null">
			and a.`name` = #{name,jdbcType=VARCHAR}
		</if>
		<if test="typeId != null">
			and a.`type_id` = #{typeId,jdbcType=DECIMAL}
		</if>
		<if test="nums != null">
			and a.`nums` &lt;= #{nums,jdbcType=VARCHAR}
		</if>
		order by a.`state` desc,a.`nums` asc
    </sql>
    
	<select id="queryByName" parameterType="java.lang.String"
		resultType="com.shop.snack.web.model.Product">
		<include refid="whereCondition"/>
	</select>
	
    <select id="queryForCount" parameterType="map" resultType="java.lang.Integer">
		select count(b.id)
  			from (<include refid="whereCondition"/> ) b
	</select>

 <select id="queryForList" parameterType="map" resultType="com.shop.snack.web.model.Product">
   <![CDATA[
	   select a.*
		          from (
	 ]]>
		<include refid="whereCondition"/>	         
    <![CDATA[
		   ) a
		       limit #{lbound},#{pageSize} 
	]]>
   </select>

   <select id="queryById" parameterType="map" resultType="com.shop.snack.web.model.Product">
	  <include refid="whereCondition"/>
   </select>
   
   <select id="queryInventoryByCondition" parameterType="map" resultType="com.shop.snack.web.model.Product">
	  <include refid="whereCondition"/>
   </select>

	<!--配置一个resultMap 指定返回的类型 -->  
	<resultMap id="productType" type="com.shop.snack.web.model.ProductType">  
	    <id column="typeId" property="typeId" />  
	    <result column="typeName" property="typeName" />  
	    <result column="typeInfo" property="typeInfo" />  
	</resultMap> 
   <select id="queryProductTypes" resultMap="productType">
		select
			type_id typeId,
			type_name typeName,
			type_info typeInfo
		from t_snack_product_classify
   </select>
   
   <insert id="addOne">
   		insert into t_snack_product (
			`name`,
			`describe`,
			`type_id`,
			`state`,
			`agent1_price`,
			`agent2_price`,
			`agent3_price`,
			`agent4_price`,
			`agent1_num`,
			`agent2_num`,
			`agent3_num`,
			`agent4_num`,
			`sale_price`,
			`grammage`,
			`expiration`,
			`brand`,
			`place`,
			`taste`,
			`modify_time`,
			`create_time`
   		) 
   		values(
			#{product.name,jdbcType=VARCHAR},
			#{product.describe,jdbcType=VARCHAR},
			#{product.typeId,jdbcType=DECIMAL},
			#{product.state,jdbcType=DECIMAL},
			#{product.agent1Price,jdbcType=VARCHAR},
			#{product.agent2Price,jdbcType=VARCHAR},
			#{product.agent3Price,jdbcType=VARCHAR},
			#{product.agent4Price,jdbcType=VARCHAR},
			#{product.agent1Num,jdbcType=DECIMAL},
			#{product.agent2Num,jdbcType=DECIMAL},
			#{product.agent3Num,jdbcType=DECIMAL},
			#{product.agent4Num,jdbcType=DECIMAL},
			#{product.salePrice,jdbcType=DECIMAL},
			#{product.grammage,jdbcType=DECIMAL},
			#{product.expiration,jdbcType=DECIMAL},
			#{product.brand,jdbcType=VARCHAR},
			#{product.place,jdbcType=VARCHAR},
			#{product.taste,jdbcType=VARCHAR},
			#{product.modifyTime,jdbcType=VARCHAR},
			#{product.createTime,jdbcType=VARCHAR}
   		)
   </insert>
   
   <update id="updOne">
   		update t_snack_product
   		set `name`=#{product.name,jdbcType=VARCHAR},
   		    `describe`=#{product.describe,jdbcType=VARCHAR},
			`type_id`=#{product.typeId,jdbcType=DECIMAL},
			`state`=#{product.state,jdbcType=DECIMAL},
			`agent1_price`=#{product.agent1Price,jdbcType=VARCHAR},
			`agent2_price`=#{product.agent2Price,jdbcType=VARCHAR},
			`agent3_price`=#{product.agent3Price,jdbcType=VARCHAR},
			`agent4_price`=#{product.agent4Price,jdbcType=VARCHAR},
			`agent1_num`=#{product.agent1Num,jdbcType=DECIMAL},
			`agent2_num`=#{product.agent2Num,jdbcType=DECIMAL},
			`agent3_num`=#{product.agent3Num,jdbcType=DECIMAL},
			`agent4_num`=#{product.agent4Num,jdbcType=DECIMAL},
			`sale_price`=#{product.salePrice,jdbcType=DECIMAL},
			`grammage`=#{product.grammage,jdbcType=DECIMAL},
			`expiration`=#{product.expiration,jdbcType=DECIMAL},
			`brand`=#{product.brand,jdbcType=VARCHAR},
			`place`=#{product.place,jdbcType=VARCHAR},
			`taste`=#{product.taste,jdbcType=VARCHAR},
			`modify_time`=#{product.modifyTime,jdbcType=VARCHAR}
   		where id = #{product.id,jdbcType=DECIMAL}
   </update>
   
   <update id="updState">
   		update t_snack_product
   		set `state`=#{state,jdbcType=DECIMAL}
   		where id = #{id,jdbcType=DECIMAL}
   </update>
   <!-- 管理 结束-->
   
   <!--更新库存-->
   <update id="updInventory">
   		update t_snack_product
   		set `nums`=ifnull(`nums`,0) + #{orderNum,jdbcType=DECIMAL},
   			`acc_nums`=ifnull(`acc_nums`,0) + #{orderNum,jdbcType=DECIMAL}
   		where id = #{id,jdbcType=DECIMAL}
   </update>
   <!--查询库存-->
   <select id="queryInventory" parameterType="map" resultType="java.lang.Integer">
       select nums
       from t_snack_product
       where id = #{id,jdbcType=DECIMAL}
   </select>
	
   <!-- 物理删除用户 -->
   <update id="deleteOne" parameterType="map">
   		delete from  t_snack_product
   		where `id` = #{id,jdbcType=DECIMAL}
   </update>
   
</mapper>