<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.snack.web.dao.record.ProOrderLogDao">

	<!-- 销售信息 开始 -->
	<sql id="whereCondition">
		select
			a.`id` id,
		    a.`flow_id` flowId,
		    a.`product_id` productId,
		    a.`type_id` typeId,
		    b.`type_name` typeName,
		    a.`product_name` productName,
		    a.`cost_price` costPrice,
		    a.`sale_price` salePrice,
		    a.`order_num` orderNum,
		    a.`order_num`*a.`cost_price` subtotalCost,
		    a.`order_num`*a.`sale_price` subtotalReally,
		    a.`order_num`*a.`sale_price`-a.`order_num`*a.`cost_price` subtotalProfit,
		    a.`type` type,
		    a.`order_date` orderDate,
		    date_format(a.modify_time,'%Y/%m/%d %T') modifyTime,
		    a.`create_time` createTime
		from t_snack_order_log a,t_snack_product_classify b
		where a.`type_id`=b.`type_id`
		<if test="id != null">
			and a.`id` = #{id,jdbcType=DECIMAL}
		</if>
		<if test="flowId != null">
			and a.`flow_id` = #{flowId,jdbcType=VARCHAR}
		</if>
		<if test="type != null">
			and a.`type` = #{type,jdbcType=DECIMAL}
		</if>
		<if test="typeId != null">
			and a.`type_id` = #{typeId,jdbcType=DECIMAL}
		</if>
		<if test="starttime != null">
			and a.`order_date` &gt;= #{starttime,jdbcType=VARCHAR}
		</if>
		<if test="endtime != null">
			and a.`order_date` &lt;= #{endtime,jdbcType=VARCHAR}
		</if>
		<if test="productName != null">
			and a.`product_name` like concat('%',#{productName,jdbcType=VARCHAR},'%')
		</if>
    </sql>
    
    <select id="queryForCount" parameterType="map" resultType="java.lang.Integer">
		select count(b.flowId)
  			from (<include refid="whereCondition"/> ) b
	</select>

 <select id="queryForList" parameterType="map" resultType="com.shop.snack.web.model.ProOrderLog">
   <![CDATA[
	   select a.*
		          from (
	 ]]>
		<include refid="whereCondition"/>	         
    <![CDATA[
		   ) a
		       order by orderNum desc,typeName,productName
		       limit #{lbound},#{pageSize}
	]]>
   </select>

   <select id="queryById" parameterType="map" resultType="com.shop.snack.web.model.ProOrderLog">
	  <include refid="whereCondition"/>
   </select>
   
   <!-- 物理删除用户 -->
   <update id="deleteOne" parameterType="map">
   		delete from  t_snack_order_log
   		where `id` = #{id,jdbcType=DECIMAL}
   </update>
   
   <update id="deleteFlowId" parameterType="map">
   		delete from  t_snack_order_log
   		where `flow_id` = #{flowId,jdbcType=DECIMAL}
   </update>
   
   <insert id="addOne">
   		insert into t_snack_order_log (
			`flow_id`,
			`type_id`,
			`product_id`,
			`product_name`,
			`cost_price`,
			`sale_price`,
			`order_num`,
			`type`,
			`order_date`,
			`modify_time`,
			`create_time`
   		)values(
   			#{proOrderLog.flowId,jdbcType=VARCHAR},
   			#{proOrderLog.typeId,jdbcType=DECIMAL},
   			#{proOrderLog.productId,jdbcType=DECIMAL},
   			#{proOrderLog.productName,jdbcType=VARCHAR},
   			#{proOrderLog.costPrice,jdbcType=VARCHAR},
   			#{proOrderLog.salePrice,jdbcType=VARCHAR},
   			#{proOrderLog.orderNum,jdbcType=DECIMAL},
   			#{proOrderLog.type,jdbcType=DECIMAL},
   			#{proOrderLog.orderDate,jdbcType=VARCHAR},
			#{proOrderLog.modifyTime,jdbcType=VARCHAR},
			#{proOrderLog.createTime,jdbcType=VARCHAR}
   		)
   </insert>
   
   <update id="updOne">
   		update t_snack_order_log
   		set `product_id`=#{proOrderLog.productId,jdbcType=DECIMAL},
   		    `product_name`=#{proOrderLog.productName,jdbcType=VARCHAR},
			`cost_price`=#{proOrderLog.costPrice,jdbcType=VARCHAR},
			`sale_price`=#{proOrderLog.salePrice,jdbcType=VARCHAR},
			`order_num`=#{proOrderLog.orderNum,jdbcType=DECIMAL},
			`modify_time`=#{proOrderLog.modifyTime,jdbcType=VARCHAR}
   		where id = #{proOrderLog.id,jdbcType=DECIMAL}
   </update>
   
   <select id="queryFlowIdTotal" parameterType="map" resultType="map">
		select
		    flow_id,
		    sum(order_num) orderNum,
		    sum(order_num*cost_price) subtotalCost,
		    sum(order_num*sale_price) subtotalReally,
		    sum(order_num*sale_price)-sum(order_num*cost_price) subtotalProfit
		from t_snack_order_log
		where 1=1
		<if test="type != null">
			and `type` = #{type,jdbcType=DECIMAL}
		</if>
		<if test="flowId != null">
			and `flow_id` = #{flowId,jdbcType=VARCHAR}
		</if>
		group by flow_id
   </select>
</mapper>