<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.snack.web.dao.record.ProSaleInfoDao">

	<!-- 销售信息 开始 -->
	<sql id="whereCondition">
		select
		    `flow_id` flowId,
		    `customer_name` customerName,
		    `customer_tel` customerTel,
		    `sale_num` saleNum,
		    `sale_price` salePrice,
		    `remark` remark,
		    `sale_date` saleDate
		from t_snack_sale_info
		order by `sale_date` desc
    </sql>
    
    <select id="queryForCount" parameterType="map" resultType="java.lang.Integer">
		select count(b.flowId)
  			from (<include refid="whereCondition"/> ) b
	</select>

 <select id="queryForList" parameterType="map" resultType="com.shop.snack.web.model.ProSaleInfo">
   <![CDATA[
	   select a.*
		          from (
	 ]]>
		<include refid="whereCondition"/>	         
    <![CDATA[
		   ) a
		       limit #{lbound},#{pageSize} 
	]]>
   </select>

   
</mapper>