<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.snack.web.dao.homePage.HomeDao">

	<!-- 查询-->
	<select id="queryDefaultSize" resultType="map" parameterType="map">
		select *
		from(
			select
				qry_uuid      qryUuid,
				cal_time      calTime,
				day_express   dayExpress,
				day_income    dayIncome,
				day_expend    dayExpend,
				day_self      daySelf,
				day_profit    dayProfit,
				total_express totalExpress,
				total_income  totalIncome,
				total_expend  totalExpend,
				total_self    totalSelf,
				total_profit  totalProfit,
				create_time   createTime
			from qry_snack_analysis
			where 1=1
				and qry_uuid = #{qryUuid}
			order by cal_time desc
			limit 0,15
		)a
		order by calTime asc
	</select>
		<select id="kpiAnalysis" statementType="CALLABLE"
		parameterType="map">    
		<![CDATA[
			call pr_qry_snack_analysis(
				#{uuid,mode=IN,jdbcType=VARCHAR},
				#{userId,mode=IN,jdbcType=VARCHAR},
				#{flag,mode=OUT,jdbcType=DECIMAL}
			)
		]]>
	</select>
</mapper>